<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="color-scheme" content="dark light">
        <title>{{ title }}</title>
        <link
        rel="stylesheet" href="{{ 'css/style.css' | url }}"> <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap"
            rel="stylesheet">
    </head>
    <body>
        {% include "header.njk" %}
        <main>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
        {# <script src="index.js"></script> #}
        {# todo: move to js file #}
        <script>
            const htmlTag = document.getElementsByTagName("html")[0];
            const themeRadios = Array.from(document.getElementsByClassName("theme-switcher__radio"));
            const theme = localStorage.getItem("theme") ?? "system";
            if (theme !== "system") {
                htmlTag.classList.add(theme);
            }
            const selectedRadio = themeRadios.find(option => option.value === theme);
            selectedRadio.setAttribute("checked", null);
            themeRadios.forEach(option => {
                option.addEventListener("change", () => {
                    htmlTag.removeAttribute("class");
                    if (option.value === "system") {
                        localStorage.removeItem("theme");
                    } else {
                        localStorage.setItem("theme", option.value);
                        htmlTag.classList.add(option.value);
                    }
                });
            });

            const header = document.getElementsByClassName("header")[0];
            const menuTrigger = document.getElementsByClassName("nav__menu-trigger")[0];

            function toggleMenu() {
                header.classList.toggle("header__open");
                const isMenuOpen = header.classList.contains("header__open");
                
                if(isMenuOpen) {
                    menuTrigger.innerHTML = "Close";
                    document.addEventListener("keydown", handleMenuEscape);
                } else {
                    menuTrigger.innerHTML = "Menu";
                    document.removeEventListener("keydown", handleMenuEscape);
                }
            }

            function handleMenuEscape(event) {
                if (event.key === 'Escape') {
                    header.classList.remove("header__open");

                    menuTrigger.innerHTML = "Menu";
                    document.removeEventListener("keydown", handleMenuEscape);
                    
                    menuTrigger.focus();
                }
            }
            
        </script>
    </body>
</html>