<!DOCTYPE html>
<html lang="en" id="html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- seo -->
        <!-- <meta name="description" content="{{ description or metadata.description }}"> -->
        <meta name="color-scheme" content="dark light">
        <title>{{ title }}</title>
        <link
        rel="stylesheet" href="{{ '/css/style.css' | url }}"> <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap"
            rel="stylesheet">
        <link rel="icon" id="faviconPng" type="image/png" href="{{ '/assets/images/favicon-dark.png' }}"> 
    </head>
    <body>
        {% include "./components/header.njk" %}
        <main id="main" {% if isArticle %} class="article" {% endif %}>
            {{ content | safe }}
        </main>
        {% include "./components/footer.njk" %}

        <script>
            // show the correct favicon in light/dark mode
            const faviconPngLink = document.getElementById("faviconPng");
            const usingDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
            
            if(!usingDarkMode) faviconPngLink.href = `/assets/images/favicon-light.png`

            window.matchMedia('(prefers-color-scheme: dark)').onchange = event => {
                const theme = usingDarkMode ? "dark" : "light"; 
                faviconPngLink.href =  `/assets/images/favicon-${theme}.png`
            };
        </script>
    </body>
</html>