<li class="card">
    <img class="card__image" src="https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg" alt=""/>
    <a href="#" class="card__link">
        <h3 class="card__title">Project Title</h3>
    </a>
    <p class="card__body">This is a longer description about the project. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed. This is another sentence. This is a longer description about the project.</p>
    <ul class="card__tags">
        <li>vue</li>
        <li>a11y</li>
        <li>testing</li>
    </ul>
</li>