<footer class="footer">
    <p>
        <small>© Jaimie Bowen 2022</small>
    </p>
    <fieldset class="theme-switcher">
        <div class="theme-switcher__wrapper">
            <legend class="theme-switcher__legend">Theme:</legend>
            <div class="theme-switcher__option">
                <input class="theme-switcher__radio" type="radio" id="system" name="theme" value="system" checked="checked">
                <label for="system">System</label>
            </div>
            <div class="theme-switcher__option">
                <input class="theme-switcher__radio" type="radio" id="dark" name="theme" value="dark">
                <label for="dark">Dark</label>
            </div>
            <div class="theme-switcher__option">
                <input class="theme-switcher__radio" type="radio" id="light" name="theme" value="light">
                <label for="light">Light</label>
            </div>
    </fieldset>
</footer>