<header class="header">
    <nav class="nav">
        <a class="nav__logo" href="#">
            {% include "rose.svg" %}
        </a>
        <ul class="nav__list">
            <li class="nav__list-item">
                <a class="nav__link" href="#">Projects</a>
            </li>
            <li class="nav__list-item">
                <a class="nav__link" href="#">About</a>
            </li>
        </ul>
        <div class="nav__socials">
            {% include "socials.html" %}
        </div>
    </nav>
</header>