<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list-item">
                <a class="nav__logo" href="#">
                    {% include "logo.njk" %}
                </a>
            </li>
            <li class="nav__list-item">
                <a class="nav__link" href="#">Projects</a>
            </li>
            <li class="nav__list-item">
                <a class="nav__link" href="#">About</a>
            </li>
        </ul>
    </nav>
    <ul class="socials">
        <li>
            <a class="socials__link" href="#">Resume</a>
        </li>
        <li>
            <a class="socials__link" href="#">Github</a>
        </li>
        <li>
            <a class="socials__link" href="#">LinkedIn</a>
        </li>
        <li>
            <a class="socials__link" href="mailto:hello@gmail.com">Email me</a>
        </li>
    </ul>
</header>

<!--{% include "flowers.njk" %}-->