<header class="header" id="header">
    <div class="skip-nav">
        <a class="skip-nav__link" href="#main">Skip to main content</a>
    </div>
    <nav class="nav">
        <div class="nav__menu">
            {% include "../components/logo.njk" %}
            <button class="nav__menu-trigger" type="button" id="navMenuTrigger" aria-expanded="false" onclick="toggleMenu();">Menu</button>
        </div>
        <div class="nav__content">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="nav__link" href="{{ '/resume.pdf' | url }}">Resume</a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__link" href="{{ '/about' | url }}" {% if page.url == "/about/" %} aria-current="page" {% endif %}>
                        About
                    </a>
                </li>
            </ul>
            <div class="nav__socials">
                {% include "../components/socials.njk" %}
            </div>
        </div>
    </nav>
</header>