<a
  class="logo"
  href="{{ '/' | url }}"
  aria-label="Home"
  {% if page.url == "/" %}aria-current="page"{% endif %}
>
  {% include "../../assets/images/moon.svg" %}
  {# TODO: reduce file size #}
  {% include "../../assets/images/lily.svg" %}
</a>
