<div class="page-overlay" id="pageOverlay"></div>
<script type="module">
    const prefersReducedMotion = window.matchMedia("(prefers-reduced-motion: reduce)").matches;
    if(!prefersReducedMotion) {
        pageOverlay.classList.add("fade-out");
    }
</script>