<div class="page-overlay" id="pageOverlay"></div>
<script>
    // TODO: check for reduced motion preference before doing this
    let pageOverlay = document.getElementById("pageOverlay");
    pageOverlay
        .classList
        .add("page-overlay--fade-out");
</script>