<ul class="socials">
    <li class="socials__list-item">
        <a class="socials__link" href="#">Resume</a>
    </li>
    <li class="socials__list-item">
        <a class="socials__link" href="https://github.com/jaimie453">Github</a>
    </li>
    <li class="socials__list-item">
        <a class="socials__link" href="https://www.linkedin.com/in/jaimie-bowen-8275151a2/">LinkedIn</a>
    </li>
    <li class="socials__list-item">
        <a class="socials__link" href="mailto:hello@gmail.com">Email me</a>
    </li>
</ul>