<ul class="socials">
  <li class="socials__list-item">
    <a class="socials__link" href="https://github.com/jaimie453" target="_blank"
      >Github</a
    >
  </li>
  <li class="socials__list-item">
    <a
      class="socials__link"
      href="https://www.linkedin.com/in/jaimie-bowen-8275151a2/"
      target="_blank"
      >LinkedIn</a
    >
  </li>
  <li class="socials__list-item">
    <a class="socials__link" href="mailto:hello@jaimiebowen.dev" target="_blank"
      >Email</a
    >
  </li>
</ul>
