<!-- unused, sticking with os preferences & no switcher -->

<!-- radio buttons with system option -->
<fieldset class="theme-switcher">
  <div class="theme-switcher__wrapper">
    <legend class="theme-switcher__legend">Theme:</legend>
    <div class="theme-switcher__option">
      <input
        class="theme-switcher__radio"
        type="radio"
        id="system"
        name="theme"
        value="system"
      />
      <label for="system">System</label>
    </div>
    <div class="theme-switcher__option">
      <input
        class="theme-switcher__radio"
        type="radio"
        id="dark"
        name="theme"
        value="dark"
      />
      <label for="dark">Dark</label>
    </div>
    <div class="theme-switcher__option">
      <input
        class="theme-switcher__radio"
        type="radio"
        id="light"
        name="theme"
        value="light"
      />
      <label for="light">Light</label>
    </div>
  </div>
</fieldset>

<label class="theme-switcher">
  Dark mode
  <input
    class="theme-switcher__checkbox"
    type="checkbox"
    id="darkMode"
    name="dark-mode"
  />
</label>
