// -----------------------------------------------------------------------------
// Resets and base element styling
// -----------------------------------------------------------------------------

//
//  Reset
//

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  filter: grayscale(1);
}

fieldset {
  border: none;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: var(--background-color);
  
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  color: var(--text-color-base);
  font-family: Montserrat, Verdana, Arial, sans-serif;
  line-height: 1.5;
  overflow-wrap: break-word;
  max-width: var(--page-max-width);
  margin: auto;
  padding: var(--space-base);
  padding-bottom: var(--space-s);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media screen and (max-width: $page-max-width) {
  body {
    padding: var(--space-m);
    padding-bottom: var(--space-s);
  }
}

html,
body {
  min-height: 100vh;
}

@media print {
  .header {
    display: none;
  }

  .footer {
    display: none;
  }
}

main {
  padding-bottom: var(--space-xxl);
  padding-top: var(--space-xxl);
  // @media (prefers-reduced-motion: no-preference) {
  //   animation: fade-in 0.3s ease-in-out;
  // }
}




pre,
code {
  font-family: Montserrat, Arial, sans-serif;
}

code {
  font-family: "Source Code Pro";
  line-height: 1.25;
  font-size: var(--font-size-s);
  color: var(--text-color-lightest);
  overflow-wrap: break-word;
  display: block;
}

pre code {
  display: block;
}


//
//  Interactive styling
//

:focus-visible {
  @include outline-style;
}

a {
  color: currentColor;
  text-decoration-thickness: 0.02em;

  @media (prefers-reduced-motion: no-preference) {
    transition: color 100ms ease-in-out;
  }

  &:hover,
  &:active,
  &:focus-visible {
    color: var(--text-color-darkest);
  }
}

// move to utilities
.wrap-text {
  display: inline-block;
  word-wrap: anywhere;
}