// -----------------------------------------------------------------------------
// Typographic styles
// @font-face declarations in <head> (google fonts)
// -----------------------------------------------------------------------------

html {
  font-size: 100%;
}

body {
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.5;
}

$font-size-start: 16;
// 3, 5, 8, 13, 21, 34
$font-size-steps: slice($fibonacci, 5, 10);

$font-sizes: (
  convert-px-to-rem($font-size-start),
);

@for $i from 1 through length($font-size-steps) {
  $step: convert-px-to-rem(nth($font-size-steps, $i));
  $font-size: nth($font-sizes, $i)+$step;

  $font-sizes: append($font-sizes, $font-size);
}

//  Map of 
//    "size-label": html element 
//  for font-sizes
$font-size-labels: (
  "s": small,
  "base": p,
  "m": h5,
  "l": h4,
  "xl": h3,
  "2xl": h2,
  "3xl": h1
);

@for $j from 1 through length($font-sizes) {
  $element: nth(nth($font-size-labels, $j), 2);
  $label: nth(nth($font-size-labels, $j), 1);
  $font-size: nth($font-sizes, $j);

  $font-size-name: font-size-#{$label};

  :root {
    --#{$font-size-name}: #{$font-size}rem;
  }

  #{$element},
  .#{$font-size-name} {
    font-size: var(--#{$font-size-name});
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1;
}