// -----------------------------------------------------------------------------
// Reusable utility classes. Perform one function
// -----------------------------------------------------------------------------

.wrap-text {
  display: inline-block;
  word-wrap: anywhere;
}

// applied to html on button click
.hide-scroll {
  overflow-y: hidden;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
