// -----------------------------------------------------------------------------
// Reusable utility classes. Perform one function
// -----------------------------------------------------------------------------

.wrap-text {
  display: inline-block;
  word-wrap: anywhere;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

//
//  Page overlay classes
//

.fade-out {
  opacity: 0;
  visibility: hidden;
  animation-name: fade-out;
}

.fade-in {
  opacity: 1;
  visibility: visible;
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
