// -----------------------------------------------------------------------------
// This file contains Sass mixins.
// -----------------------------------------------------------------------------

//
//  Grouped styles
//

@mixin heading-font-style {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  color: var(--text-color-darkest);
  line-height: 1;
}

@mixin flex-center($center-vertically: true, $center-horizontally: true) {
  display: flex;

  @if ($center-vertically) {
    align-items: center;
  }

  @if ($center-horizontally) {
    justify-content: center;
  }
}

@mixin hover-underline-style($show-initial-underline: false) {
  text-underline-offset: 0.3em;
  @if ($show-initial-underline) {
    text-decoration-color: currentColor;
  } @else {
    text-decoration-color: transparent;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: all 150ms ease-in-out;
  }

  &:hover,
  &:focus-visible {
    @if ($show-initial-underline) {
      text-decoration-color: transparent;
    } @else {
      text-decoration-color: currentColor;
    }
  }
}

@mixin outline-style {
  outline: 0.1875rem solid var(--text-color-darkest);
  outline-offset: 0.1875rem;

  @media (prefers-reduced-motion: no-preference) {
    & {
      transition: outline-offset 150ms linear;
    }
  }

  @media (forced-colors: active) {
    & {
      outline-color: Highlight;
    }
  }
}

@mixin fade {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  // safari animation fix?
  will-change: opacity;
}

//
//  CSS variables
//

@mixin light-theme-variables {
  // have to use sass variables here b/c of mix()
  $text-color-darkest: #000;
  $text-color-lightest: #454545;
  $text-color-base: mix($text-color-darkest, $text-color-lightest);

  --background-color: #e4e4e4;
  --ui-color: #828282;
  --text-color-darkest: #{$text-color-darkest};
  --text-color-lightest: #{$text-color-lightest};
  --text-color-base: #{$text-color-base};
}

@mixin dark-theme-variables {
  // have to use sass variables here b/c of mix()
  $text-color-darkest: #fff;
  $text-color-lightest: #adadad;
  $text-color-base: mix($text-color-darkest, $text-color-lightest);

  --background-color: #1c1c1c;
  --ui-color: #696969;
  --text-color-darkest: #{$text-color-darkest};
  --text-color-lightest: #{$text-color-lightest};
  --text-color-base: #{$text-color-base};
}

@mixin font-size-variables($font-size-values, $font-size-labels) {
  @for $i from 1 through length($font-size-values) {
    $label: nth(nth($font-size-labels, $i), 1);
    $font-size-name: font-size-#{$label};

    --#{$font-size-name}: #{nth($fluid-font-sizes, $i)};
  }
}

@mixin spacing-variables($space-values, $space-labels) {
  @for $i from 1 through length($space-values) {
    $value: nth($space-values, $i);
    $label: nth($space-labels, $i);

    --space-#{$label}: #{convert-px-to-rem($value)}em;
  }
}

//
//  Rulesets
//

@mixin font-size-rulesets($font-size-values, $font-size-labels) {
  @for $i from 1 through length($font-size-values) {
    $element: nth(nth($font-size-labels, $i), 2);
    $label: nth(nth($font-size-labels, $i), 1);
    $font-size-name: font-size-#{$label};

    #{$element},
    .#{$font-size-name} {
      font-size: var(--#{$font-size-name});
    }
  }
}
