// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$fibonacci: generate-fibonacci-sequence(18);

$max-width: 1180px !default;

$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;