/* Error: "Tests failed."
 *    ,
 * 31 | @include run(test('get-color-contrast', $tests-get-color-contrast));
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\sass\abstracts\_tests.scss 31:1  @import
 *   src\sass\style.scss 7:3              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: \"Tests failed.\"\a    \2577 \a 31 \2502  @include run(test('get-color-contrast', $tests-get-color-contrast));\d\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\sass\\abstracts\\_tests.scss 31:1  @import\a   src\\sass\\style.scss 7:3              root stylesheet";
}
