:root {
  --background-color: #1c1c1c;
  --text-color-darkest: #fff;
  --text-color-lightest: #adadad;
  --text-color-base: #d6d6d6;
  --font-size-s: clamp(0.875rem, 0.2vw + 0.8rem, 1rem);
  --font-size-base: clamp(1rem, 0.3vw + 0.88rem, 1.1875rem);
  --font-size-m: clamp(1.1875rem, 0.51vw + 0.99rem, 1.5rem);
  --font-size-l: clamp(1.5rem, 0.81vw + 1.19rem, 2rem);
  --font-size-xl: clamp(2rem, 1.32vw + 1.5rem, 2.8125rem);
  --font-size-2xl: clamp(2.8125rem, 2.13vw + 2rem, 4.125rem);
  --font-size-3xl: clamp(4.125rem, 3.44vw + 2.81rem, 6.25rem);
  --space-xxs: 0.1875em;
  --space-xs: 0.3125em;
  --space-s: 0.5em;
  --space-base: 0.8125em;
  --space-m: 1.3125em;
  --space-l: 2.125em;
  --space-xl: 3.4375em;
  --space-xxl: 5.5625em;
  --min-target-area: 2.75rem;
  --page-max-width: 61.6875rem;
  --article-max-width: 38.125rem;
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #e4e4e4;
    --text-color-darkest: #000;
    --text-color-lightest: #454545;
    --text-color-base: #232323;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  filter: grayscale(1);
}

fieldset {
  border: none;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  background-color: var(--background-color);
  color: var(--text-color-base);
  font-family: Montserrat, Arial, sans-serif;
  line-height: 1.5;
  overflow-wrap: break-word;
  max-width: var(--page-max-width);
  margin: auto;
  padding: var(--space-base);
}

@media screen and (max-width: 61.6875rem) {
  body {
    padding: var(--space-m);
  }
}
html,
body {
  min-height: 100vh;
}

main {
  padding-bottom: var(--space-xxl);
  padding-top: var(--space-xxl);
}

pre,
code {
  font-family: Montserrat, Arial, sans-serif;
}

code {
  font-family: "Source Code Pro";
  line-height: 1.25;
  font-size: var(--font-size-s);
  color: var(--text-color-lightest);
  overflow-wrap: break-word;
  display: block;
}

pre code {
  display: block;
}

:focus-visible {
  outline: 0.1875rem solid var(--text-color-darkest);
  outline-offset: 0.1875rem;
}
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 150ms linear;
  }
}

a {
  color: currentColor;
  text-decoration-thickness: 0;
}
@media (prefers-reduced-motion: no-preference) {
  a {
    transition: color 100ms ease-in-out;
  }
}
a:hover, a:active, a:focus-visible {
  color: var(--text-color-darkest);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  color: var(--text-color-darkest);
  line-height: 1;
}

h1 {
  padding-bottom: var(--space-xs);
}

h2,
h3,
h4 {
  padding: var(--space-s) 0;
}

main p {
  padding-bottom: var(--space-m);
}

article ul {
  padding-bottom: var(--space-m);
  padding-left: var(--space-l);
}
@media screen and (min-width: 36rem) {
  article ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xxs);
  }
}

article :not(h1, h2, h3, h4) {
  max-width: var(--article-max-width);
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: var(--space-xxs) 0;
}

.code-block {
  font-size: var(--font-size-s);
  border-bottom: 2px solid rgb(97, 97, 97);
  padding-bottom: 0;
}

small {
  color: var(--text-color-lightest);
}

small,
.font-size-s {
  font-size: var(--font-size-s);
}

body,
.font-size-base {
  font-size: var(--font-size-base);
}

h5,
.font-size-m {
  font-size: var(--font-size-m);
}

h4,
.font-size-l {
  font-size: var(--font-size-l);
}

h3,
.font-size-xl {
  font-size: var(--font-size-xl);
}

h2,
.font-size-2xl {
  font-size: var(--font-size-2xl);
}

h1,
.font-size-3xl {
  font-size: var(--font-size-3xl);
}

.skip-nav {
  width: 100%;
  overflow: hidden;
  height: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .skip-nav {
    transition: height 100ms ease-in-out;
  }
}
.skip-nav:focus-within {
  height: var(--min-target-area);
  overflow: visible;
}

.card-grid {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}
@media screen and (min-width: 38.125rem) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);
  }
}

.header {
  min-height: var(--min-target-area);
}
@media screen and (max-width: 36rem) {
  .header--open {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: var(--space-m);
    background-color: var(--background-color);
    z-index: 1;
  }
}

.nav {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (max-width: 36rem) {
  .nav {
    flex-direction: column;
  }
  .nav__menu {
    display: flex;
    justify-content: space-between;
  }
}
.nav__content {
  flex: 1;
  display: flex;
}
@media screen and (max-width: 36rem) {
  .nav__content {
    display: none;
  }
  .header--open .nav__content {
    display: flex;
    flex-direction: column;
  }
}
.nav__menu-trigger {
  display: none;
  font-weight: 500;
}
.nav__menu-trigger:hover, .nav__menu-trigger:focus {
  color: var(--text-color-darkest);
}
@media screen and (max-width: 36rem) {
  .nav__menu-trigger {
    display: inline-block;
    padding: 0 var(--space-s);
  }
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 36rem) {
  .header--open .nav__list {
    margin-top: var(--space-xl);
    gap: var(--space-s);
    flex-direction: column;
    align-items: flex-start;
  }
}
.nav__list-item {
  height: 100%;
  display: flex;
}
@media screen and (max-width: 36rem) {
  .header--open .nav__list-item {
    width: 100%;
  }
}
.nav__logo {
  fill: var(--text-color-darkest);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: var(--space-m);
}
.nav__logo svg {
  width: var(--min-target-area);
}
.nav__link {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  color: var(--text-color-darkest);
  line-height: 1;
  text-underline-offset: 0.3em;
  text-decoration-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-m);
  padding: 0 var(--space-s);
  height: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .nav__link {
    transition: all 150ms ease-in-out;
  }
}
.nav__link:hover, .nav__link:focus-visible {
  text-decoration-color: currentColor;
}
@media screen and (max-width: 36rem) {
  .header--open .nav__link {
    padding: var(--space-base) 0;
    height: 100%;
    font-size: var(--font-size-xl);
    min-height: var(--min-target-area);
    width: 100%;
    justify-content: flex-start;
  }
}
.nav__socials {
  margin-left: auto;
}
@media screen and (max-width: 49.5rem) {
  .nav__socials {
    display: none;
  }
}
@media screen and (max-width: 36rem) {
  .header--open .nav__socials {
    display: initial;
    margin-left: 0;
    margin-top: var(--space-xxl);
  }
}

.hide-scroll {
  overflow-y: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-s);
  color: var(--text-color-lightest);
  flex-wrap: wrap;
  min-height: var(--min-target-area);
}
.footer__socials {
  display: none;
}
@media screen and (min-width: 36rem) and (max-width: 49.5rem) {
  .footer__socials {
    display: flex;
  }
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.socials__list-item {
  height: var(--min-target-area);
  display: flex;
}
.socials__link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-base);
  text-underline-offset: 0.3em;
  text-decoration-color: transparent;
}
@media (prefers-reduced-motion: no-preference) {
  .socials__link {
    transition: all 150ms ease-in-out;
  }
}
.socials__link:hover, .socials__link:focus-visible {
  text-decoration-color: currentColor;
}
.socials--footer .socials__link {
  font-size: var(--font-size-s);
}
@media screen and (max-width: 36rem) {
  .socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header--open .socials__list-item {
    display: initial;
    margin-left: 0;
  }
  .header--open .socials__link {
    justify-content: flex-start;
    padding: 0;
    width: 100%;
  }
}
.card {
  position: relative;
}
.card:focus-within {
  outline: 0.1875rem solid var(--text-color-darkest);
  outline-offset: 0.1875rem;
}
@media (prefers-reduced-motion: no-preference) {
  .card:focus-within {
    transition: outline-offset 150ms linear;
  }
}
.card__image {
  aspect-ratio: 2.2/1;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
  margin-bottom: var(--space-m);
}
.card__link {
  text-underline-offset: 0.3em;
  text-decoration-color: currentColor;
}
@media (prefers-reduced-motion: no-preference) {
  .card__link {
    transition: all 150ms ease-in-out;
  }
}
.card__link:hover, .card__link:focus-visible {
  text-decoration-color: transparent;
}
.card__link::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.card__link:focus-visible {
  outline: 0;
}
.card__title {
  padding-top: 0;
  padding-bottom: var(--space-xs);
}
.card__body {
  padding-bottom: var(--space-xxs);
}
.card__tags {
  list-style: none;
  font-size: var(--font-size-s);
  color: var(--text-color-lightest);
  display: flex;
  gap: var(--space-xs);
}

/*# sourceMappingURL=style.css.map */
