:root {
  --background-color: #1c1c1c;
  --ui-color: #696969;
  --text-color-darkest: #fff;
  --text-color-lightest: #adadad;
  --text-color-base: #d6d6d6;
  --font-size-s: clamp(0.875rem, 0.2vw + 0.8rem, 1rem);
  --font-size-base: clamp(1rem, 0.3vw + 0.88rem, 1.1875rem);
  --font-size-m: clamp(1.1875rem, 0.51vw + 0.99rem, 1.5rem);
  --font-size-l: clamp(1.5rem, 0.81vw + 1.19rem, 2rem);
  --font-size-xl: clamp(2rem, 1.32vw + 1.5rem, 2.8125rem);
  --font-size-2xl: clamp(2.8125rem, 2.13vw + 2rem, 4.125rem);
  --font-size-3xl: clamp(4.125rem, 3.44vw + 2.81rem, 6.25rem);
  --space-xxs: 0.1875em;
  --space-xs: 0.3125em;
  --space-s: 0.5em;
  --space-base: 0.8125em;
  --space-m: 1.3125em;
  --space-l: 2.125em;
  --space-xl: 3.4375em;
  --space-xxl: 5.5625em;
  --space-3xl: 9em;
  --min-target-area: 3rem;
  --page-max-width: 61.6875rem;
  --article-max-width: 38.125rem;
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #e4e4e4;
    --ui-color: #828282;
    --text-color-darkest: #000;
    --text-color-lightest: #454545;
    --text-color-base: #232323;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

button {
  all: unset;
  font: inherit;
  cursor: pointer;
}
button[disabled] {
  cursor: default;
}

:focus-visible {
  outline: 0.1875rem solid var(--text-color-darkest);
  outline-offset: 0.1875rem;
}
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 150ms linear;
  }
}
@media (forced-colors: active) {
  :focus-visible {
    outline-color: Highlight;
  }
}

a {
  color: var(--text-color-darkest);
  text-decoration-thickness: 0.02em;
}

hr {
  border: 0;
  background-color: var(--ui-color);
  height: 0.0625rem;
  margin: var(--space-m);
  margin-left: 0;
}

html {
  font-size: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  color: var(--text-color-base);
  font-family: Montserrat, Verdana, Arial, sans-serif;
  line-height: 1.5;
  overflow-wrap: break-word;
  background-color: var(--background-color);
  max-width: var(--page-max-width);
  margin: auto;
  padding: var(--space-base);
  padding-bottom: var(--space-s);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 61.6875rem) {
  body {
    padding: var(--space-m);
    padding-bottom: var(--space-s);
  }
}
html,
body {
  min-height: 100vh;
}

main {
  padding-bottom: var(--space-xxl);
  padding-top: var(--space-xxl);
}

main section:not(:last-child) {
  padding-bottom: var(--space-m);
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  color: var(--text-color-darkest);
  line-height: 1;
}

small,
.text-lightest {
  color: var(--text-color-lightest);
}

small,
.font-size-s {
  font-size: var(--font-size-s);
}

body,
.font-size-base {
  font-size: var(--font-size-base);
}

h5,
.font-size-m {
  font-size: var(--font-size-m);
}

h4,
.font-size-l {
  font-size: var(--font-size-l);
}

h3,
.font-size-xl {
  font-size: var(--font-size-xl);
}

h2,
.font-size-2xl {
  font-size: var(--font-size-2xl);
}

h1,
.font-size-3xl {
  font-size: var(--font-size-3xl);
}

h1 {
  padding-bottom: var(--space-xs);
}

h2,
h3,
h4 {
  padding-bottom: var(--space-s);
  padding-top: var(--space-s);
}

p {
  padding-bottom: var(--space-m);
}
section:last-child p:last-child,
article p:last-child {
  padding-bottom: 0;
}

article p,
article .bullet-list {
  max-width: var(--article-max-width);
}

.wrap-text {
  display: inline-block;
  word-wrap: anywhere;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.padding-none {
  padding: 0;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  animation-name: fade-out;
}

.fade-in {
  opacity: 1;
  visibility: visible;
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  column-gap: var(--space-m);
}
.socials__list-item {
  height: var(--min-target-area);
  display: flex;
}
.socials__link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-underline-offset: 0.3em;
  text-decoration-color: transparent;
}
@media (prefers-reduced-motion: no-preference) {
  .socials__link {
    transition: all 150ms ease-in-out;
  }
}
.socials__link:hover,
.socials__link:focus-visible {
  text-decoration-color: currentColor;
}

.card__link {
  display: inline-block;
}
.card__title {
  padding-bottom: var(--space-xs);
}
.card__body {
  padding-bottom: var(--space-xxs);
  max-width: var(--article-max-width);
}
.card__tags {
  list-style: none;
  font-size: var(--font-size-s);
  color: var(--text-color-lightest);
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-s);
}

.card-grid {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: var(--space-m);
  position: relative;
  --logo-size: var(--font-size-3xl);
  width: fit-content;
}
.logo__moon {
  width: var(--logo-size);
  height: var(--logo-size);
  fill: var(--text-color-darkest);
}
.logo__flower {
  width: calc(var(--logo-size) * 0.66);
  height: calc(var(--logo-size) * 0.66);
  position: absolute;
  bottom: -5%;
  right: -5%;
  fill: var(--text-color-darkest);
}
.logo__background {
  fill: var(--background-color);
}

@media (forced-colors: active) {
  .logo__moon {
    fill: LinkText;
  }
}
.bullet-list {
  padding-bottom: var(--space-m);
  padding-left: var(--space-l);
}
@media screen and (min-width: 36rem) {
  .bullet-list--2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xxs);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--space-xxs);
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: var(--space-l);
}
@media screen and (max-width: 36rem) {
  .nav__list {
    column-gap: var(--space-m);
  }
}
.nav__list-item {
  height: var(--min-target-area);
  display: flex;
}
.nav__link {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  color: var(--text-color-darkest);
  line-height: 1;
  text-underline-offset: 0.3em;
  text-decoration-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-m);
  height: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .nav__link {
    transition: all 150ms ease-in-out;
  }
}
.nav__link:hover,
.nav__link:focus-visible {
  text-decoration-color: currentColor;
}
.nav__link[aria-current='page'] {
  text-underline-offset: 0.3em;
  text-decoration-color: currentColor;
}
@media (prefers-reduced-motion: no-preference) {
  .nav__link[aria-current='page'] {
    transition: all 150ms ease-in-out;
  }
}
.nav__link[aria-current='page']:hover,
.nav__link[aria-current='page']:focus-visible {
  text-decoration-color: transparent;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-s);
  color: var(--text-color-lightest);
  flex-wrap: wrap-reverse;
  min-height: var(--min-target-area);
}

.skip-nav {
  width: 100%;
  overflow: hidden;
  height: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .skip-nav {
    transition: height 100ms ease-in-out;
  }
}
.skip-nav:focus-within {
  height: var(--min-target-area);
  overflow: visible;
}

@media (prefers-reduced-motion: no-preference) {
  .page-overlay {
    position: absolute;
    left: calc(var(--space-m) * -1);
    right: calc(var(--space-m) * -1);
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background-color: var(--background-color);
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    will-change: opacity;
  }
}

/*# sourceMappingURL=style.css.map */
