.bullet-list {
  padding-bottom: var(--space-m);
  padding-left: var(--space-l);
  max-width: var(--article-max-width);

  @media screen and (min-width: $nav-menu-max-width) {
    &--2-columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-xxs);
    }
  }
}
