.card {
  &__link {
    @include hover-underline-style(true);
  }

  &__title {
    padding-bottom: var(--space-xs);
  }

  &__body {
    padding-bottom: var(--space-xxs);
    max-width: var(--article-max-width);
  }

  &__tags {
    list-style: none;
    font-size: var(--font-size-s);
    color: var(--text-color-lightest);
    display: flex;
    gap: var(--space-s);
  }
}

.card-grid {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}
