.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--space-xxs);

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: var(--space-l);

    @media screen and (max-width: $nav-menu-max-width) {
      & {
        column-gap: var(--space-m);
      }
    }
  }

  &__list-item {
    height: var(--min-target-area);
    display: flex;
  }

  &__link {
    @include heading-font-style;
    @include hover-underline-style;
    @include flex-center;

    font-size: var(--font-size-m);
    height: 100%;

    &[aria-current='page'] {
      @include hover-underline-style(true);
    }
  }
}
