.logo {
  @include flex-center;
  flex-shrink: 0;
  margin-right: var(--space-m);
  position: relative;
  --logo-size: var(--font-size-3xl);
  width: fit-content;

  &__moon {
    width: var(--logo-size);
    height: var(--logo-size);
    fill: var(--text-color-darkest);
  }

  &__flower {
    width: calc(var(--logo-size) * 0.66);
    height: calc(var(--logo-size) * 0.66);
    position: absolute;
    bottom: -5%;
    right: -5%;
    fill: var(--text-color-darkest);
  }

  &__background {
    fill: var(--background-color);
  }

  @media (forced-colors: active) {
    &__moon {
      fill: ActiveText;
    }

    &__flower {
      display: none;
    }
  }
}
