@media (prefers-reduced-motion: no-preference) {
  .page-overlay {
    position: absolute;
    left: calc(var(--space-m) * -1);
    right: calc(var(--space-m) * -1);
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background-color: var(--background-color);
    @include fade;
  }
}
