@media (prefers-reduced-motion: no-preference) {
  .page-overlay {
    position: absolute;
    left: -50px;
    right: -50px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background-color: var(--background-color);
    @include fade;
  }
}
