// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-s);
    color: var(--text-color-lightest);
    flex-wrap: wrap;

    &__socials {
        display: none;
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__back-to-top {
        height: var(--min-target-area);
        display: inline-flex;
        align-items: center;
    }

    @media screen and (max-width: $nav-menu-max-width) {
        &__socials {
            display: flex;
            flex-wrap: wrap;
        }
    }
}