// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-s);
    color: var(--text-color-lightest);

    @media screen and (max-width: $article-max-width) {
        &__theme-switcher {
            display: none;
        }
    }
}