// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    min-height: var(--min-target-area);

    @media screen and (max-width: $nav-menu-max-width) {
        &__open {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            padding: var(--space-m);
            background-color: var(--background-color);
            z-index: 1;
        }
    }
}

.nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (max-width: $nav-menu-max-width) {
        & {
            flex-direction: column;
        }

        &__menu {
            display: flex;
            justify-content: space-between;
        }
    }

    &__content {
        flex: 1;
        display: flex;

        @media screen and (max-width: $nav-menu-max-width) {
            & {
                display: none;
            }

            .header__open & {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__menu-trigger {
        display: none;
        font-weight: 500;

        &:hover,
        &:focus {
            color: var(--text-color-darkest);
        }

        @media screen and (max-width: $nav-menu-max-width) {
            & {
                display: inline-block;
                padding: 0 var(--space-s);
            }
        }
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__list-item {
        height: 100%;
        @include flex-center;
    }

    &__logo {
        fill: var(--text-color-darkest);
        @include flex-center;
        flex-shrink: 0;
        margin-right: var(--space-m);

        & svg {
            width: var(--min-target-area);
        }
    }

    &__link {
        @include heading-font-style;
        @include hover-underline-style;
        @include flex-center;

        font-size: var(--font-size-m);
        padding: 0 var(--space-s);
        height: 100%;
    }

    &__socials {
        margin-left: auto;

        @media screen and (max-width: $footer-socials-max-width) {
            & {
                display: none;
            }
        }

        @media screen and (max-width: $nav-menu-max-width) {
            .header__open & {
                display: initial;
            }
        }
    }
}

// applied to html on button click
.hide-scroll {
    overflow-y: hidden;
}