// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    display: flex;
    justify-content: space-between;
    min-height: var(--min-target-area);
    //transition: background-color 0.2s linear;

    @media screen and (max-width: $nav-menu-max-width) {
        &__open {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            padding: var(--space-m);
            background-color: var(--background-color);
        }
    }
}

@media screen and (max-width: $nav-menu-max-width) {
    html {
        overflow-y: hidden;
    }
}


.nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &__menu-trigger {
        display: none; 
        font-weight: 500;

        &:hover, 
        &:focus {
            color: var(--text-color-darkest);
        }
    }

    @media screen and (max-width: $nav-menu-max-width) {
        & {
            flex-direction: column;
        }

        &__menu {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    
        &__menu-trigger {
            display: inline-block;
            padding: 0 var(--space-s);
        }
    }

    &__content {
        flex: 1;
        display: flex;

        @media screen and (max-width: $nav-menu-max-width) {
            & {
                display: none;
            }

            .header__open & {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        
    }

    &__list-item {
        height: 100%;
        @include flex-center;
    }

    &__logo {
        width: var(--min-target-area);
        fill: var(--text-color-darkest);
        @include flex-center;
        flex-shrink: 0;
        margin-right: var(--space-m);
    }

    &__link {
        @include heading-font-style;
        font-size: var(--font-size-m);
        text-decoration: none;
        padding: 0 var(--space-s);
        @include flex-center;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.socials {
    list-style: none;
    display: flex;
    gap: var(--space-m);
    align-items: center;
    margin-left: auto;

    &__list-item {}

    &__link {
        font-size: var(--font-size-s);
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: $nav-menu-max-width) {
        & {
            margin-left: 0;
        }
    }
}

// .flowers {
//     margin: auto;

//     &__g {
//         fill: var(--text-color-lightest);
//     }
// }