// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the site.
// -----------------------------------------------------------------------------

main {
  padding-bottom: var(--space-xxl);
  padding-top: var(--space-xxl);
}

@media print {
  .header {
    display: none;
  }

  .footer {
    display: none;
  }
}

article {
  & ul {
    padding-bottom: var(--space-m);
    padding-left: var(--space-l);

    @media screen and (min-width: $nav-menu-max-width) {
      & {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space-xxs);
      }
    }
  }

  & :not(h1, h2, h3, h4) {
    max-width: var(--article-max-width);
  }
}
