// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the site/application.
// -----------------------------------------------------------------------------

.skip-nav {
    width: 100%;
    overflow: hidden;
    height: 0;

    @media (prefers-reduced-motion: no-preference) {
        & {
            transition: height 100ms ease-in-out;
        }
    }

    &:focus-within {
        height: var(--min-target-area);
        overflow: visible;
    }
}

// should probably go in layout.scss or something
.card-grid {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    
    @media screen and (min-width: $article-max-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}