---
title: About | Jaimie Bowen
layout: "layouts/base.njk"
---

<article>
  <h1>About</h1>
  <p>
    Hi, I'm Jaimie Bowen, a {{ currentYear - 1999 }} year old front-end developer based out of Lakewood, Ohio. I graduated
    from Kent State University with a major in Computer Science in 2021, and have been working full time as a developer
    since.
  </p>
  <p>
    While I was into programming from a young age, I struggled to find my niche until I delved into front-end development. I
    love that my role allows me to work closely with designers to craft a pleasant user experience for everyone.
  </p>
  <p>
    I enjoy learning about everything front-end related, but I'm especially
        interested in the following areas:
  </p>
  <ul>
    <li>CSS architecture</li>
    <li>Accessibility</li>
    <li>Web performance</li>
    <li>Usability</li>
    <li>Design systems</li>
    <li>Technical writing</li>
  </ul>
  <p>
    Outside of coding, I usually spend my free time reading, learning languages,
        cycling, or playing video games.
  </p>
  <h2>This site</h2>
  <p>
    This site was built with Eleventy and is hosted on Github Pages.
    <a href="https://github.com/jaimie453/jaimie453.github.io">View source code</a>.
  </p>
  {#
      <p>Special thanks to ... ... for help with the site design.</p>
      #}
  <p>Rose logo courtesy of
    <a href="https://www.svgrepo.com/">SVG repo</a>.</p>
  <h2>Contact me</h2>
  <p>
    To get in touch, you can email me at
    <a href="mailto:jaimie6453@gmail.com">jaimie6453@gmail.com</a>
    or message me on
    <a href="https://www.linkedin.com/in/jaimie-bowen-8275151a2/">LinkedIn</a>,
          and I'll try to get back to you as soon as possible.
  </p>
</article>