---
title: Jaimie Bowen — Front-end Developer
layout: "layouts/base.njk"
---

<section>
  <h1>Jaimie Bowen</h1>
  <p class="font-size-m">
    Front-end developer with a focus on usability and accessibility. I love working at the intersection of programming and
    design, and have experience building components and internal tools for design systems.
  </p>
  <p class="font-size-m">
    Read more
    <a href="{{ '/about' | url }}">about me</a>
    or view
    <span class="wrap-text">
      <a href="{{ '/resume.pdf' | url }}">my resume</a>.</span>
  </p>
</section>
<section>
  <h2>Projects</h2>
  <ul class="card-grid">
    {% import "components/card.njk" as projectCard %}
    {% for project in projects %}
      {% if loop.index0 < 4 %}
        {{ projectCard.createCard(project.title, project.description, project.repoUrl, project.tags) }}
      {% endif %}
    {% endfor %}
  </ul>
</section>
<section>
  <h2>Contact</h2>
  <p>
    To get in touch, you can email me at
    <a href="mailto:hello@jaimiebowen.dev" target="_blank">hello@jaimiebowen.dev</a>
    or message me on
    <a href="https://www.linkedin.com/in/jaimie-bowen-8275151a2/" target="_blank">LinkedIn</a>,
                                                                      and I'll try to get back to you as soon as possible.
  </p>
</section>