---
title: Projects | Jaimie Bowen
layout: "layouts/base.njk"
---

<h1>Projects</h1>
<p class="font-size-m">
  Collection of interesting side projects I've worked on. Any live demos can be found within the linked github repo.
</p>
<ul class="card-grid">
  {% import "components/card.njk" as projectCard %}
  {% for project in projects %}
    {{ projectCard.createCard(project.title, project.description, project.repoUrl, project.tags, true) }}
  {% endfor %}
</ul>